# WordPress core files and directories
/wp-admin/
/wp-includes/

# Exclure TOUT le dossier wp-content
/wp-content/*

# Sauf le dossier 'themes' (et son contenu) :
!/wp-content/themes/

# Sauf le dossier 'plugins' (et son contenu) :
!/wp-content/plugins/

# Maintenant, ré-exclure les thèmes par défaut que vous ne voulez pas versionner
/wp-content/themes/twenty*/

# WordPress config files
wp-config.php
wp-config-sample.php

# WordPress system files
/.htaccess
/license.txt
/readme.html
/index.php
xmlrpc.php

# WordPress default themes
/wp-content/themes/twenty*/

# WordPress debug logs
/debug.log
*.log

# WordPress cache and temp files
*.tmp
*.cache